body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
}

#game-container {
    display: table; 
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    cursor: pointer;
}

.empty {
    background-color: #FFF8F0;
}

.state-1 {
    background-color: #9DD9D2;
}

.state-2 {  
    background-color: #FF8811;
}
