body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h1{
    color: black;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-gap: 5px;
    justify-content: center;
    margin: 20px auto;
}