body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
}

#game-container {
    display: table; 
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    cursor: pointer;
}

.empty {
    background-color: grey;
}

.state-1 {
    background-color: white;
}

.state-2 {  
    background-color: blue;
}


.error {
    border: 3px solid red;
}
